# Initial Analysis of data

## Python Imports

In [1]:
import pandas as pd

## Data Engineering

### Accidents

In [2]:
accidents = pd.read_csv('../data/Accidents0514.csv')

C:\Users\AlexB\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
accidents.columns.tolist()

['Accident_Index',
 'Location_Easting_OSGR',
 'Location_Northing_OSGR',
 'Longitude',
 'Latitude',
 'Police_Force',
 'Accident_Severity',
 'Number_of_Vehicles',
 'Number_of_Casualties',
 'Date',
 'Day_of_Week',
 'Time',
 'Local_Authority_(District)',
 'Local_Authority_(Highway)',
 '1st_Road_Class',
 '1st_Road_Number',
 'Road_Type',
 'Speed_limit',
 'Junction_Detail',
 'Junction_Control',
 '2nd_Road_Class',
 '2nd_Road_Number',
 'Pedestrian_Crossing-Human_Control',
 'Pedestrian_Crossing-Physical_Facilities',
 'Light_Conditions',
 'Weather_Conditions',
 'Road_Surface_Conditions',
 'Special_Conditions_at_Site',
 'Carriageway_Hazards',
 'Urban_or_Rural_Area',
 'Did_Police_Officer_Attend_Scene_of_Accident',
 'LSOA_of_Accident_Location']

In [4]:
accidents.dtypes

Accident_Index                                  object
Location_Easting_OSGR                          float64
Location_Northing_OSGR                         float64
Longitude                                      float64
Latitude                                       float64
Police_Force                                     int64
Accident_Severity                                int64
Number_of_Vehicles                               int64
Number_of_Casualties                             int64
Date                                            object
Day_of_Week                                      int64
Time                                            object
Local_Authority_(District)                       int64
Local_Authority_(Highway)                       object
1st_Road_Class                                   int64
1st_Road_Number                                  int64
Road_Type                                        int64
Speed_limit                                      int64
Junction_Detail                                  int64
Junction_Control                                 int64
2nd_Road_Class                                   int64
2nd_Road_Number                                  int64
Pedestrian_Crossing-Human_Control                int64
Pedestrian_Crossing-Physical_Facilities          int64
Light_Conditions                                 int64
Weather_Conditions                               int64
Road_Surface_Conditions                          int64
Special_Conditions_at_Site                       int64
Carriageway_Hazards                              int64
Urban_or_Rural_Area                              int64
Did_Police_Officer_Attend_Scene_of_Accident      int64
LSOA_of_Accident_Location                       object
dtype: object

In [5]:
accidents.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863

### Casualties

In [6]:
casualties = pd.read_csv('../data/Casualties0514.csv')

In [7]:
casualties.columns.tolist()

['Accident_Index',
 'Vehicle_Reference',
 'Casualty_Reference',
 'Casualty_Class',
 'Sex_of_Casualty',
 'Age_of_Casualty',
 'Age_Band_of_Casualty',
 'Casualty_Severity',
 'Pedestrian_Location',
 'Pedestrian_Movement',
 'Car_Passenger',
 'Bus_or_Coach_Passenger',
 'Pedestrian_Road_Maintenance_Worker',
 'Casualty_Type',
 'Casualty_Home_Area_Type']

In [8]:
casualties.head()

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1
1,200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1
2,200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1
3,200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1
4,200501BS00005,1,1,1,1,49,8,3,0,0,0,0,-1,3,-1

### Vehicles

In [9]:
vehicles = pd.read_csv('../data/Vehicles0514.csv')

In [10]:
vehicles.columns.tolist()

['Accident_Index',
 'Vehicle_Reference',
 'Vehicle_Type',
 'Towing_and_Articulation',
 'Vehicle_Manoeuvre',
 'Vehicle_Location-Restricted_Lane',
 'Junction_Location',
 'Skidding_and_Overturning',
 'Hit_Object_in_Carriageway',
 'Vehicle_Leaving_Carriageway',
 'Hit_Object_off_Carriageway',
 '1st_Point_of_Impact',
 'Was_Vehicle_Left_Hand_Drive?',
 'Journey_Purpose_of_Driver',
 'Sex_of_Driver',
 'Age_of_Driver',
 'Age_Band_of_Driver',
 'Engine_Capacity_(CC)',
 'Propulsion_Code',
 'Age_of_Vehicle',
 'Driver_IMD_Decile',
 'Driver_Home_Area_Type']

In [11]:
vehicles.head()

,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,1,9,0,18,0,0,0,0,0,...,1,15,2,74,10,-1,-1,-1,7,1
1,200501BS00002,1,11,0,4,0,3,0,0,0,...,1,1,1,42,7,8268,2,3,-1,-1
2,200501BS00003,1,11,0,17,0,0,0,4,0,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,2,9,0,2,0,0,0,0,0,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,1,9,0,18,0,0,0,0,0,...,1,15,2,49,8,1769,1,4,2,1

### Descriptions

Since most of the descriptions are in an excel file we want to join those with the main dataframes. For every variable there is a corresponding datasheet that we need to read and join to the main dataframe.

In [12]:
def read_and_join_description(df, col_name):
    col_name_new = col_name.replace('_',' ')
    col_name_new = col_name_new.replace('?','')
    
    col_name_new = col_name_new.replace('Pedestrian Crossing-Human Control','Ped Cross - Human')
    col_name_new = col_name_new.replace('Pedestrian Crossing-Physical Facilities','Ped Cross - Physical')
    col_name_new = col_name_new.replace('Weather Conditions','Weather')
    col_name_new = col_name_new.replace('Road Surface Conditions','Road Surface')
    col_name_new = col_name_new.replace('Urban or Rural Area','Urban Rural')
    col_name_new = col_name_new.replace('Did Police Officer Attend Scene of Accident','Police Officer Attend')
    col_name_new = col_name_new.replace('Pedestrian ','Ped ')
    col_name_new = col_name_new.replace('Bus or Coach Passenger','Bus Passenger')
    col_name_new = col_name_new.replace('Casualty Home Area Type','Home Area Type')
    col_name_new = col_name_new.replace('Vehicle Location-Restricted Lane','Vehicle Location')
    col_name_new = col_name_new.replace('Vehicle Leaving Carriageway','Veh Leaving Carriageway')
    col_name_new = col_name_new.replace('Hit Object off Carriageway','Hit Object Off Carriageway')
    col_name_new = col_name_new.replace('Journey Purpose of Driver','Journey Purpose')
    col_name_new = col_name_new.replace('Age Band of Casualty','Age Band')
    col_name_new = col_name_new.replace('Age Band of Driver','Age Band')
    col_name_new = col_name_new.replace('Propulsion Code','Vehicle Propulsion Code')
    col_name_new = col_name_new.replace('Driver Home Area Type','Home Area Type')
    
    excel_data = pd.read_excel(open('../data/Road-Accident-Safety-Data-Guide.xls', 'rb'),sheet_name=col_name_new) 
    excel_data.columns = excel_data.columns.str.lower()
    excel_data = excel_data.add_prefix(col_name+'_')
    
    final_df = pd.merge(df, excel_data, how = 'left', left_on=col_name, right_on=col_name+'_code')
    final_df.drop([col_name+'_code',col_name], axis=1,inplace=True)
    final_df.columns = final_df.columns.str.replace('_label','')
    return final_df

Accidents

In [13]:
accidents_full = accidents.copy()

for name in ['Police_Force',
 'Accident_Severity',
 'Day_of_Week',
 'Local_Authority_(District)',
 'Local_Authority_(Highway)',
 '1st_Road_Class',
 'Road_Type',
 'Junction_Detail',
 'Junction_Control',
 '2nd_Road_Class',
 'Pedestrian_Crossing-Human_Control',
 'Pedestrian_Crossing-Physical_Facilities',
 'Light_Conditions',
 'Weather_Conditions',
 'Road_Surface_Conditions',
 'Special_Conditions_at_Site',
 'Carriageway_Hazards',
 'Urban_or_Rural_Area',
 'Did_Police_Officer_Attend_Scene_of_Accident']:
    accidents_full = read_and_join_description(accidents_full, name)

In [14]:
accidents_full

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Number_of_Vehicles,Number_of_Casualties,Date,Time,1st_Road_Number,...,2nd_Road_Class,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,1,04/01/2005,17:42,3218,...,NaN,None within 50 metres,Zebra,Daylight,Raining no high winds,Wet or damp,None,None,Urban,Yes
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,1,05/01/2005,17:36,450,...,C,None within 50 metres,Pedestrian phase at traffic signal junction,Darkness - lights lit,Fine no high winds,Dry,None,None,Urban,Yes
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,2,1,06/01/2005,00:15,0,...,NaN,None within 50 metres,No physical crossing facilities within 50 metres,Darkness - lights lit,Fine no high winds,Dry,None,None,Urban,Yes
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,1,07/01/2005,10:35,3220,...,NaN,None within 50 metres,No physical crossing facilities within 50 metres,Daylight,Fine no high winds,Dry,None,None,Urban,Yes
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,1,10/01/2005,21:13,0,...,NaN,None within 50 metres,No physical crossing facilities within 50 metres,Darkness - lighting unknown,Fine no high winds,Wet or damp,None,None,Urban,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1640592,2014984136414,310037.0,597647.0,-3.417278,55.264773,2,1,07/12/2014,22:20,74,...,NaN,None within 50 metres,No physical crossing facilities within 50 metres,Darkness - no lighting,Snowing no high winds,Snow,None,None,Rural,Yes
1640593,2014984137514,321509.0,574063.0,-3.230255,55.054855,2,2,11/12/2014,06:40,74,...,NaN,None within 50 metres,No physical crossing facilities within 50 metres,Darkness - no lighting,Fine no high winds,Snow,None,None,Rural,Yes
1640594,2014984137714,321337.0,566365.0,-3.230826,54.985668,1,1,09/12/2014,02:00,721,...,NaN,None within 50 metres,No physical crossing facilities within 50 metres,Darkness - lights lit,Fine no high winds,Frost or ice,None,None,Rural,Yes
1640595,2014984138414,323869.0,566853.0,-3.191397,54.990446,3,2,17/12/2014,06:55,75,...,C,None within 50 metres,No physical crossing facilities within 50 metres,Darkness - no lighting,Raining no high winds,Wet or damp,None,None,Rural,Yes
1640596,2014984139614,314072.0,579971.0,-3.348426,55.106700,2,2,24/12/2014,15:00,723,...,B,None within 50 metres,No physical crossing facilities within 50 metres,Daylight,Fine no high winds,Wet or damp,None,None,Rural,Yes

Casualties

In [15]:
casualties_full = casualties.copy()

for name in ['Casualty_Class',
 'Sex_of_Casualty',
 'Age_Band_of_Casualty',
 'Casualty_Severity',
 'Pedestrian_Location',
 'Pedestrian_Movement',
 'Car_Passenger',
 'Bus_or_Coach_Passenger',
 'Pedestrian_Road_Maintenance_Worker',
 'Casualty_Type',
 'Casualty_Home_Area_Type']:
    casualties_full = read_and_join_description(casualties_full, name)

In [16]:
casualties_full

,Accident_Index,Vehicle_Reference,Casualty_Reference,Age_of_Casualty,Casualty_Class,Sex_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00001,1,1,37,Pedestrian,Male,36 - 45,Serious,Crossing on pedestrian crossing facility,Crossing from driver's nearside,Not car passenger,Not a bus or coach passenger,Data missing or out of range,Pedestrian,Urban area
1,200501BS00002,1,1,37,Passenger,Male,36 - 45,Slight,Not a Pedestrian,Not a Pedestrian,Not car passenger,Seated passenger,Data missing or out of range,Bus or coach occupant (17 or more pass seats),Urban area
2,200501BS00003,2,1,62,Driver or rider,Male,56 - 65,Slight,Not a Pedestrian,Not a Pedestrian,Not car passenger,Not a bus or coach passenger,Data missing or out of range,Car occupant,Urban area
3,200501BS00004,1,1,30,Pedestrian,Male,26 - 35,Slight,"In carriageway, crossing elsewhere",Crossing from nearside - masked by parked or s...,Not car passenger,Not a bus or coach passenger,Data missing or out of range,Pedestrian,Urban area
4,200501BS00005,1,1,49,Driver or rider,Male,46 - 55,Slight,Not a Pedestrian,Not a Pedestrian,Not car passenger,Not a bus or coach passenger,Data missing or out of range,Motorcycle 125cc and under rider or passenger,Data missing or out of range
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216715,2014984137714,1,1,16,Passenger,Female,16 - 20,Slight,Not a Pedestrian,Not a Pedestrian,Rear seat passenger,Not a bus or coach passenger,No / Not applicable,Car occupant,Urban area
2216716,2014984138414,1,1,27,Driver or rider,Male,26 - 35,Slight,Not a Pedestrian,Not a Pedestrian,Not car passenger,Not a bus or coach passenger,No / Not applicable,Car occupant,Urban area
2216717,2014984138414,2,2,44,Driver or rider,Male,36 - 45,Serious,Not a Pedestrian,Not a Pedestrian,Not car passenger,Not a bus or coach passenger,No / Not applicable,Van / Goods vehicle (3.5 tonnes mgw or under) ...,Urban area
2216718,2014984139614,1,2,61,Passenger,Male,56 - 65,Slight,Not a Pedestrian,Not a Pedestrian,Not car passenger,Seated passenger,No / Not applicable,Bus or coach occupant (17 or more pass seats),Small town
2216719,2014984139614,2,1,79,Driver or rider,Male,Over 75,Slight,Not a Pedestrian,Not a Pedestrian,Not car passenger,Not a bus or coach passenger,No / Not applicable,Car occupant,Rural

Vehicles

In [17]:
vehicles_full = vehicles.copy()

for name in ['Vehicle_Type',
 'Towing_and_Articulation',
 'Vehicle_Manoeuvre',
 'Vehicle_Location-Restricted_Lane',
 'Junction_Location',
 'Skidding_and_Overturning',
 'Hit_Object_in_Carriageway',
 'Vehicle_Leaving_Carriageway',
 'Hit_Object_off_Carriageway',
 '1st_Point_of_Impact',
 'Was_Vehicle_Left_Hand_Drive?',
 'Journey_Purpose_of_Driver',
 'Sex_of_Driver',
 'Age_Band_of_Driver',
 'Propulsion_Code']:
    vehicles_full = read_and_join_description(vehicles_full, name)

In [18]:
vehicles_full

,Accident_Index,Vehicle_Reference,Age_of_Driver,Engine_Capacity_(CC),Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,...,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,Hit_Object_off_Carriageway,1st_Point_of_Impact,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_Band_of_Driver,Propulsion_Code
0,200501BS00001,1,74,-1,-1,7,1,Car,No tow/articulation,Going ahead other,...,None,None,Did not leave carriageway,None,Front,No,Other/Not known (2005-10),Female,66 - 75,NaN
1,200501BS00002,1,42,8268,3,-1,-1,Bus or coach (17 or more pass seats),No tow/articulation,Slowing or stopping,...,None,None,Did not leave carriageway,None,Nearside,No,Journey as part of work,Male,36 - 45,Heavy oil
2,200501BS00003,1,35,8300,5,2,1,Bus or coach (17 or more pass seats),No tow/articulation,Going ahead right-hand bend,...,None,Parked vehicle,Did not leave carriageway,None,Nearside,No,Journey as part of work,Male,26 - 35,Heavy oil
3,200501BS00003,2,62,1762,6,1,1,Car,No tow/articulation,Parked,...,None,None,Did not leave carriageway,None,Offside,No,Other/Not known (2005-10),Male,56 - 65,Petrol
4,200501BS00004,1,49,1769,4,2,1,Car,No tow/articulation,Going ahead other,...,None,None,Did not leave carriageway,None,Front,No,Other/Not known (2005-10),Female,46 - 55,Petrol
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004420,2014984138414,1,27,1781,12,6,1,Car,No tow/articulation,Moving off,...,None,None,Did not leave carriageway,None,Offside,No,Commuting to/from work,Male,26 - 35,Petrol
3004421,2014984138414,2,44,1686,4,1,1,Van / Goods 3.5 tonnes mgw or under,No tow/articulation,Going ahead other,...,Skidded,Parked vehicle,Offside,Wall or fence,Front,No,Commuting to/from work,Male,36 - 45,Heavy oil
3004422,2014984138414,3,73,2143,-1,8,3,Car,No tow/articulation,Going ahead other,...,Skidded,Parked vehicle,Nearside,None,Offside,No,Not known,Male,66 - 75,Heavy oil
3004423,2014984139614,1,40,4500,4,-1,3,Bus or coach (17 or more pass seats),No tow/articulation,Turning right,...,None,None,Did not leave carriageway,None,Offside,No,Journey as part of work,Male,36 - 45,Heavy oil
3004424,2014984139614,2,79,1398,11,-1,3,Car,No tow/articulation,Going ahead other,...,None,None,Did not leave carriageway,None,Front,No,Not known,Male,Over 75,Heavy oil